*{
  box-sizing: border-box;
}
html{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

img{
  max-width: 100%;
}
body{
  background-image: url(../public/images/background-home-desktop.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.box{
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
 
}
.row{
  display: flex;
  /* justify-content: space-between; */
}

@media (max-width:600px){
  .row{
    display: block;
  }
}
.gray{
  color: gray;
  font-weight: 900;
  letter-spacing: 0;
}